<configuration>
	<configSections>
		<section name="Framework" type="SAF.Configuration.ConfigurationHandler,SAF.Configuration" />
		<section name="Application" type="SAF.Configuration.ConfigurationHandler,SAF.Configuration" />
	</configSections>
	
	<Framework type="SAF.Configuration.ConfigurationManager,SAF.Configuration">
		<SAF.Authorization>
			<Providers>
				<Provider name="Generic" type="SAF.Authorization.GenericAuthorizationProvider,SAF.Authorization" />
				<Provider name="Windows" type="SAF.Authorization.WindowsAuthorizationProvider,SAF.Authorization" />
			</Providers>
			<Permissions>
				<Allows>
					<Allow name="MyAssembly.MyType.MyMethod1" roles="BUILTIN\Administrators,Managers" provider="Windows" />
				</Allows>
				<Denies>
					<Deny name="MyAssembly.MyType.MyMethod2" roles="BUILTIN\Administrators" provider="Windows" />
				</Denies>
				<Denies>
					<Deny name="MyAssembly.MyType.MyMethod3" roles="Anoymous" provider="Generic" />
				</Denies>
			</Permissions>
		</SAF.Authorization>
	</Framework>
</configuration>
