<configuration>
	<configSections>
		<section name="Framework" type="SAF.Configuration.ConfigurationHandler,SAF.Configuration" />
		<section name="Application" type="SAF.Configuration.ConfigurationHandler,SAF.Configuration" />
	</configSections>
	
	<system.runtime.remoting>
		<application>	
			<client>
				<wellknown 
					type="Test.BusinessLibrary.SampleBusiness, Test.BusinessLibrary" 
					url="http://localhost:4000/SampleBusiness.rem"
				/>
			</client>
			<channels>
				<channel ref="http">
					<clientProviders>
						<formatter ref="binary" />
						<provider
							type="SAF.Cryptography.CryptoRemotingClientSinkProvider, SAF.Cryptography"
						/>
					</clientProviders>
				</channel>
			</channels>

		</application>
	</system.runtime.remoting>
	
	<Framework type="SAF.Configuration.ConfigurationManager,SAF.Configuration">
		<SAF.Cryptography>
			<AlgorithmProviders>
				<AlgorithmProvider name ="TripleDES" type="System.Security.Cryptography.TripleDESCryptoServiceProvider, mscorlib, Version=1.0.3300.0, Culture=neutral, PublicKeyToke=b77a5c561934e089" />
			</AlgorithmProviders>
			<Profiles>
				<Profile name ="Profile1" symmetric="true" algorithm="TripleDES">
					<SecretKey>6HD+Ngi8JoGmD0g=</SecretKey>		
					<IV>gi8JoGmD</IV>				
				</Profile>
				<Profile name ="Profile2" symmetric="false" algorithm="RSA">
					<SenderCertificate store="LocalMachine">CN=CompanyA</SenderCertificate>	
					<ReceiverCertificate store="CurrentUser">CN=CompanyB</ReceiverCertificate>
					<SymmatricAlgorithm>TripleDES</SymmatricAlgorithm>		
				</Profile>			
				<Profile name ="Profile3" symmetric="false" algorithm="RSA">
					<SenderCertificate store="LocalMachine">CN=CompanyB</SenderCertificate>	
					<ReceiverCertificate store="CurrentUser">CN=CompanyA</ReceiverCertificate>
					<SymmatricAlgorithm>TripleDES</SymmatricAlgorithm>		
				</Profile>	
			</Profiles>
			<CryptoRemotingClientSink>
				<Identity name = "MyClient" uri="http://localhost:4000/SampleBusiness.rem">
					<EncryptProfile name ="Profile1" />
				</Identity>
				<Identity name = "MyServer">
					<DecryptProfile name ="Profile1" />
				</Identity>
				<!-- Replace above two Identity elements with following two to test asymmetric cryptography
					<Identity name = "MyClient" uri="http://localhost:4000/SampleBusiness.rem">
						<EncryptProfile name ="Profile2" />
					</Identity>
					<Identity name = "MyServer">
						<DecryptProfile name ="Profile2" />
					</Identity>
				-->
			</CryptoRemotingClientSink>

		</SAF.Cryptography>
	</Framework>
</configuration>