<configuration>
	<configSections>
		<section name="Framework" type="SAF.Configuration.ConfigurationHandler,SAF.Configuration" />
		<section name="Application" type="SAF.Configuration.ConfigurationHandler,SAF.Configuration" />
	</configSections>
	
	<Framework type="SAF.Configuration.ConfigurationManager,SAF.Configuration">
		<SAF.MessageQueue>
			<Queue name="QueueA" techology="MSMQ">
				<FormatName>FormatName:DIRECT=OS:.\private$\MSMQTest</FormatName>
				<SleepTime>1000</SleepTime>
			</Queue>
			<Queue name="QueueB" technology="MQSeries">
				<QueueManager>MQ_Local</QueueManager>
				<QueueName>MQSeriesTest</QueueName>
				<SleepTime>1000</SleepTime>
			</Queue>
		</SAF.MessageQueue>
	</Framework>
</configuration>
